* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    font-family: 'Times New Roman', Times, serif;

}

#rotating-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    animation: rotate 5s linear infinite;
}

.card {
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 0.1em 0.2em;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 20px 10px #f800f8,
    -2px -2px 20px 10px #f800f8;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    transform: rotate(180deg);
}

.down {
    transform: rotate(180deg);
}

.red {
    color: #ee0000;
}

.left> :first-child {
    margin-bottom: -5px;
}

.right> :last-child {
    margin-top: -5px;
}

.one {
    transform: rotate(-120deg) translate(-260px, -50px);
}

.two {
    transform: rotate(300deg) translate(-90px, 15px);
}


.four {
    transform: rotate(-300deg) translate(90px, 15px)
}

.five {
    transform: rotate(120deg) translate(260px, -50px)
}

.six {
    transform:translate(-360px, 330px);
}

@keyframes rotate {
    
    0% {
        transform: rotate(72deg) ;
    }
    20% {
        transform: rotate(144deg) ;
    }
    
    40% {
        transform: rotate(216deg) ;
    }
    60% {
        transform: rotate(288deg) ;
    }
    80% {
        transform: rotate(360deg) ;
    }
    100% {
        transform: rotate(432deg) ;
    }


}